body
	background #fdfbf9
	font-family 'Open Sans', 'Trebuchet MS', 'Helvetica', 'Arial', sans-serif
	padding-bottom 10px

div#header
	text-align center

.container
	width 720px
	font-size 14px
	
h1,h2,h3,h4,h5,h6
	font-family 'PT Sans', 'Open Sans', 'Trebuchet MS', 'Helvetica', 'Arial', sans-serif
	font-weight bold
	margin 0
	margin-bottom 5px
	
h1
	font-size 30px
	color #111
h2
	font-size 26px
	margin-top 20px
	color #111
h3
	font-size 20px
	margin-top 10px
h4
	font-size 18px
h5
	font-size 16px
h6
	font-size 14px

hr
	margin 0
	margin-bottom 10px
	border-color #e1e1e1
	
#navbar
	height 25px
	margin-top 10px
	font-size 16px
#navbar ul
	list-style-type none
	margin 0
	padding 0
#navbar ul li
	display inline-block
	margin-right 20px
#navbar ul li:last-child
	margin-right 0
#navbar ul li a
	text-decoration none
	
td
	padding-right 20px